
/*seletores*/

a{
    font-weight: bold;
    color: #4b566a;
    text-decoration: none;
    padding: 5px;
}

h1{
    color: #828271;
    font-size: 1.2em;
}

body{
    background:#d2d2c1 url(imagens/fundo.png);
    font: 16px Arial, Helvetica , sans-serif;
}

/*ids*/

#principal{
    width: 900px;
}

#menu{
    background-color: #c5c5b2;
    padding: 18px;
}

#conteudo{
    background: #e8e8d9;
    padding: 10px;   
}

/*classes*/

.centralizar{
    text-align: center;
}

.img-campanha{
    border: 10px solid #72723c;
    padding: 8px;
    background-color: black;
}


